=# dependencies
node_modules/

# misc
.DS_Store
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# yarn dependencies
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# local launch config
.vs/*

# IDE files
.idea
